---
import "../styles/base.css";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body class="bg-black flex items-center justify-center">
    <div class="py-[50px] flex flex-row min-w-[1810px] bg-white px-[30px]">
      <div>
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-60px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
      </div>
      <div>
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-142px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
      </div>
      <div>
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-223px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
      </div>
      <div>
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-304px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
      </div>
      <div>
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-385px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
        <img
          src="/book-cover.webp"
          class="block skew-y-[4deg] h-[600px] w-[350px] object-right object-cover mt-[-20px]"
        />
      </div>
    </div>
  </body>
</html>
