---
import Layout from "@/layouts/main.astro";
import Button from "@/components/Button.astro";
import Heart from "@/components/Heart.astro";
import Modal from "@/components/Modal.astro";
import Input from "@/components/Input.astro";
---

<Layout content={{ title: "noage.fun" }}>
  <div class="container mx-auto space-y-6 py-4 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center">
      <div>
        <p>Fühlst du dich manchmal zu alt?</p>
        <p class="pl-3">Oder zu jung?</p>
        <p class="pl-0">Oder hast du vielleicht Angst, bald zu alt zu sein?</p>
        <p class="pl-3">Und was ist mit den Menschen um dich herum?</p>
        <p class="pl-0">Hast du mit manchen Probleme, weil sie zu alt sind?</p>
        <p class="pl-3">Oder zu jung?</p>
        <p class="pl-0">Überhaupt: Denkst du oft über Alter nach?</p>
        <p class="pl-3">Tag für Tag, ganz selbstverständlich?</p>
        <p class="pl-0">Dann solltest du dich damit ernsthaft beschäftigen.</p>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <img src="/book-cover.jpeg" alt="Book cover" class="md:w-80" />
        <Modal id="dialog" open="Jetzt kaufen!">
          <div slot="main" class="space-y-4">
            <p class="text-pretty">
              Bestell das Buch jetzt schon bei deiner lokalen Buchhandlung! Das
              ist gleich eine dreifach gute Idee: Du bekommst ein schönes Buch,
              die Buchhandlung ein bisschen Umsatz, den sie auf jeden Fall
              besser brauchen kann als, sagen wir mal, Amazon – und das Buch
              bekommt bei vielen Bestellungen vielleicht einen schönen Platz im
              Schaufenster :-)
            </p>
            <p class="text-pretty">
              Wenn du keine lokale Buchhandlung hast und auch keine finden
              möchtest, kannst du das Buch selbstverständlich auch <a
                class="underline"
                href="https://www.brandeins.de/products/zu-jung-zu-alt-egal?taxon_id=20"
                >direkt beim Verlag bestellen</a
              >.
            </p>
          </div>
        </Modal>
      </div>
    </div>

    <div class="text-center p-4">
      <p class="text-4xl font-bold p-2">“Zu jung? Zu alt? Egal!”</p>
      <p class="text-2xl text-pretty">
        Das Buch zu dem Thema, über das alle nachdenken, aber niemand spricht
      </p>
      <Button
        variant="outline"
        asLink
        href="https://www.book2look.com/book/9783989280243"
        class="mt-4"
        >Reinschauen
      </Button>
    </div>

    <div>
      <span>Gründe das Buch zu lesen:</span>
      <ul class="list-disc list-inside marker:text-primary">
        <li>Er verbessert deine Laune</li>
        <li>
          Du lernst etwas, das für die Welt, aber auch dein Leben relevant ist
        </li>
        <li>Du findest darin Gedanken, die du so noch nie gelesen hast</li>
        <li>
          Es ist kurz Es liest sich leicht, ist also geeignet für unterwegs
        </li>
      </ul>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center">
      <p class="md:order-1">
        So glücklich waren die Autorïnnen nach Abgabe des Manuskripts – so
        glücklich wirst auch Du nach der Lektüre sein.
      </p>
      <img src="/authors.jpeg" alt="Book cover" />
    </div>

    <div class="max-w-96 mx-auto py-6">
      <span> Melde dich an zu unserem Newsletter!</span>
      <form action="https://dasgehtbesser.substack.com/subscribe" method="get">
        <div class="flex flex-row space-x-2">
          <Input
            type="email"
            name="freeSignupEmail"
            placeholder="Deine E-Mail-Adresse"
            class="w-full p-2 border border-input rounded-md h-10"
            autocomplete="email"
          />
          <Button type="submit">Abonnieren</Button>
        </div>
      </form>
    </div>

    <div class="text-center">
      <Heart class="w-4 inline-block align-[-1px]" />
      Clara Vuillemin &amp; Peter Lau
    </div>
  </div>
</Layout>
