---
import Layout from "@/layouts/main.astro";
import Button from "@/components/Button.astro";
import Heart from "@/components/Heart.astro";
import Modal from "@/components/Modal.astro";
import Input from "@/components/Input.astro";
---

<Layout
  content={{
    title: "Zu jung? Zu alt? Egal! - Für eine Arbeitswelt ohne Altersgrenzen",
    description:
      "Dieses Buch ist für Menschen in einem schwierigen Alter. Also für alle. Von: Clara Vuillemin & Peter Lau",
    image: "/og.jpeg",
  }}
>
  <div class="container mx-auto space-y-6 py-4 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center">
      <div>
        <p class="font-bold">Fühlst du dich manchmal zu alt?</p>
        <p>Oder zu jung?</p>
        <p>Oder hast du vielleicht Angst,<br />bald zu alt zu sein?</p>
        <p>Und was ist mit den Menschen<br />um dich herum?</p>
        <p>Hast du mit manchen Probleme,<br />weil sie zu alt sind?</p>
        <p>Oder zu jung?</p>
        <p>Überhaupt:<br />Denkst du oft über Alter nach?</p>
        <p>Tag für Tag, immer wieder,<br />ganz selbstverständlich?</p>
        <p>Dann solltest du dich damit einmal<br />ernsthaft beschäftigen.</p>
      </div>
      <div class="flex flex-col items-center space-y-4">
        <img
          src="/book-cover.webp"
          alt="Buch Cover: Zu jung? Zu alt? Egal!"
          width="497"
          height="750"
        />
        <Modal id="dialog" open="Jetzt kaufen!">
          <div slot="main" class="space-y-4">
            <p>
              Bestell das Buch bei deiner lokalen Buchhandlung! Das ist aus
              vielen Gründen eine gute Idee: Du bekommst ein schönes Buch, die
              Buchhandlung ein wenig Umsatz, der dort besser aufgehoben ist als
              bei Amazon, und das Buch bekommt bei vielen Bestellungen
              vielleicht einen schönen Platz im Schaufenster.
            </p>
            <p>
              Wenn du keine lokale Buchhandlung hast und auch keine finden
              möchtest, kannst du das Buch selbstverständlich auch <a
                href="https://www.brandeins.de/products/zu-jung-zu-alt-egal?taxon_id=20"
                >direkt beim Verlag bestellen</a
              >.
            </p>
          </div>
        </Modal>
      </div>
    </div>

    <div class="text-center p-4">
      <p class="text-4xl font-bold p-2">“Zu jung? Zu alt? Egal!”</p>
      <p class="text-2xl">
        Das Buch zu dem Thema, über das alle nachdenken, aber niemand spricht
      </p>
      <Button
        variant="outline"
        asLink
        href="https://www.book2look.com/book/9783989280243"
        class="mt-4"
        >Reinschauen
      </Button>
    </div>

    <div>
      <span>Gründe, das Buch zu lesen:</span>
      <ul class="list-disc list-inside marker:text-primary">
        <li>Es verbessert deine Laune.</li>
        <li>Du lernst etwas, das für die Welt und dein Leben relevant ist.</li>
        <li>Du findest darin Ideen, die du noch nie gelesen hast.</li>
        <li
          >Es ist kurz und liest sich leicht, ist also auch für unterwegs
          geeignet.</li
        >
        <li>Es liefert prima Gesprächsthemen.</li>
      </ul>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center">
      <p class="md:order-1">
        Glückliche Autorïnnen nach Abgabe des Manuskripts.
      </p>
      <img
        src="/authors.webp"
        alt="Portrait der Autorïnnen"
        width="720"
        height="960"
      />
    </div>

    <div class="max-w-96 mx-auto py-6 space-y-2">
      <span
        >Wir schreiben auch einen <span class="font-bold">Newsletter</span>
        zu allem, was uns interessiert und dich vielleicht weiter bringt.</span
      >
      <form action="https://dasgehtbesser.substack.com/subscribe" method="get">
        <div class="flex flex-row space-x-2">
          <Input
            type="email"
            name="freeSignupEmail"
            placeholder="Deine E-Mail-Adresse"
            class="w-full p-2 border border-input rounded-md h-10"
            autocomplete="email"
          />
          <Button type="submit">Abonnieren</Button>
        </div>
      </form>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center pb-6">
      <p>
        Wir freuen uns über Rückmeldungen aller Art, Kritik, Lob, Ideen für neue
        Projekte und Einladungen. Schreibt uns: <a href="mailto:hello@no-age.fun">hello@no-age.fun</a>
      </p>
      <p>
        Du bist Journalistïn und möchtest ein Rezensionsexemplar bestellen? Im <a
          href="/Lau_Vuillemin_Zu_jung_zu_alt_Egal.pdf"
          target="_blank">Presse-Info-Blatt</a
        > findest du den Kontakt.
      </p>
    </div>

    <div class="space-y-2 pb-6">
      <p>
        Die Playlist zum Buch mit tanzbarer Musik von den 1940gern bis heute.
      </p>
      <div class="relative">
        <div
          id="disclaimer"
          class="absolute inset-0 flex flex-col justify-center items-center space-y-2 text-center rounded-xl h-[152px] bg-[hsla(0,0%,12%,1)] overflow-hidden"
        >
          <picture class="absolute inset-auto blur-[5px]">
            <source srcset="/spotify-small.webp" media="(max-width: 420px)" />
            <source srcset="/spotify.webp" media="(min-width: 421px)" />
            <img src="/spotify.webp" alt="Spotify Playlist" />
          </picture>
          <p class="text-sm w-72 sm:w-96 z-10">
            Wenn du klickst, wird externer Inhalt von Spotify geladen und dabei
            personenbezogene Daten übertragen.
          </p>
          <Button
            asLink
            variant="outline"
            class="z-10"
            target="spotify"
            href="https://open.spotify.com/embed/playlist/45rMY6UdT3boukhIlD7FO5?utm_source=generator&theme=0"
            onclick="document.getElementById('disclaimer').remove()"
          >
            Playlist laden
          </Button>
        </div>
        <iframe
          name="spotify"
          title="Spotify playlist embed"
          class="rounded-xl"
          width="100%"
          height="152"
          allow="autoplay *; clipboard-write *; encrypted-media *; picture-in-picture *"
          loading="lazy"></iframe>
      </div>
    </div>

    <div class="text-center">
      <Heart class="w-4 inline-block align-[-1px]" />
      Clara Vuillemin &amp; Peter Lau
    </div>
  </div>
</Layout>
