---
// source: https://github.com/shadcn-ui/ui/blob/main/apps/www/registry/default/ui/card.tsx
import { cn } from "@/lib/utils";

const {
  class: className,
  headerClass,
  titleClass,
  descriptionClass,
  contentClass,
  footerClass,
  ...props
} = Astro.props;
---

<div
  class={cn(
    "rounded-lg border bg-card text-card-foreground shadow-sm",
    className
  )}
  {...props}
>
  <div class={cn("flex flex-col space-y-1.5 p-6", headerClass)}>
    <slot name="header" />
  </div>

  <div
    class={cn("text-2xl font-semibold leading-none tracking-tight", titleClass)}
  >
    <slot name="title" />
  </div>

  <div class={cn("text-sm text-muted-foreground", descriptionClass)}>
    <slot name="description" />
  </div>

  <div class={cn("p-6 pt-0", contentClass)}>
    <slot name="content" />
  </div>

  <div class={cn("flex items-center p-6 pt-0", footerClass)}>
    <slot name="footer" />
  </div>
</div>
