---
import "../styles/base.css";
const { content } = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{content.title}</title>
    <meta name="description" content={content.description} />
    <meta property="og:image" content={content.image} />
    <meta property="og:locale" content="de" />
    <meta property="og:type" content="book" />
  </head>
  <body>
    <slot />
  </body>
</html>
